black==24.2.0
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
et-xmlfile==1.1.0
fonttools==4.47.0
kiwisolver==1.4.5
matplotlib==3.8.2
mypy-extensions==1.0.0
numpy==1.26.2
openpyxl==3.1.2
packaging==23.2
pandas==2.1.4
pathspec==0.12.1
Pillow==10.1.0
platformdirs==4.2.0
pycairo==1.25.1
pyparsing==3.1.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
python-dateutil==2.8.2
pytz==2023.3.post1
shiboken6==6.6.1
six==1.16.0
tk==0.1.0
tzdata==2023.3
